@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
  margin: 0;
  margin-bottom: 40px;
}


#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#banner{
    width: 100%;
    display: block;
}


#productos{
    width: 60%;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

#prod-2{
    margin-top: 50px;
}

#divisor{
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 150px;
}

.form-control{
    background-color: #c5c5c4;
    border-color: black;
}

#img-logo{
    height: 80px;
    width: 150px;
    margin-right: 600px;
}

    
#body-registro > img{
        width: 100%;
        
}
.card{
        width: 100%;
        margin-top: 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
        font-family: 'Schibsted Grotesk', sans-serif;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
.card-registration .select-arrow {
    top: 13px;
    }

.container py-5 h-100{
  background-image: radial-gradient(circle at 50% 103.03%, #fffff1 0, #f3ffe5 25%, #e0ffd7 50%, #cdf3ca 75%, #bbeac0 100%);
}
.h-100 bg-dark{
  background-image: radial-gradient(circle at 50% 103.03%, #fffff1 0, #f3ffe5 25%, #e0ffd7 50%, #cdf3ca 75%, #bbeac0 100%);
}

#banner-producto{
    width: 90%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#banner-producto > img{
    width: 100%;
   

}
#divisor-producto{
    margin-bottom: 50px;
    text-align: center;
}

#titulo-producto{
    align-items: left;
}
#divisor-producto h1{
    margin-top: 40px;
}

.btn-primary{
    display: block;
    text-align:left;
    text-decoration: none;
    text-decoration-color: black;
    width: 130px;
    background-color: rgb(88, 171, 238);
    padding: 10px;
    margin: 10px auto;

}
#img1{
    border-radius: 10%;
    
}
#img1{
    float: left;
}
#img2{
    border-radius: 10%;
    
}
#img2{
    float: inline-start;
}


#divisor {
    font-family: 'Dancing Script', cursive;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
    margin-bottom: 2rem;
    color: green;
}


#form-control{
    margin: 0 auto;
}




.h-100{
    font-family: 'Nunito Sans', sans-serif;
}
#body-productos-maceteros{
  background-image: radial-gradient(circle at 50% 103.03%, #ffffff 0, #fefff7 25%, #edfde8 50%, #dbf1da 75%, #cce7ce 100%);
}
#body-productos-fertilizantes{
  background-image: radial-gradient(circle at 50% 103.03%, #ffffff 0, #fefff7 25%, #edfde8 50%, #dbf1da 75%, #cce7ce 100%);
}
#body-productos-plantas{
  background-image: radial-gradient(circle at 50% 103.03%, #ffffff 0, #fefff7 25%, #edfde8 50%, #dbf1da 75%, #cce7ce 100%);
}
#body-index{
  background-image: radial-gradient(circle at 50% 103.03%, #ffffff 0, #fefff7 25%, #edfde8 50%, #dbf1da 75%, #cce7ce 100%);
}
#body-registro{
  background-image: radial-gradient(circle at 50% 103.03%, #ffffff 0, #fefff7 25%, #edfde8 50%, #dbf1da 75%, #cce7ce 100%);
}
.body-login{
  background-image: radial-gradient(circle at 50% 103.03%, #ffffff 0, #fefff7 25%, #edfde8 50%, #dbf1da 75%, #cce7ce 100%);
}
.body-pedido{
  background-image: radial-gradient(circle at 50% 103.03%, #ffffff 0, #fefff7 25%, #edfde8 50%, #dbf1da 75%, #cce7ce 100%);
}
.body-estado{
  background-image: radial-gradient(circle at 50% 103.03%, #ffffff 0, #fefff7 25%, #edfde8 50%, #dbf1da 75%, #cce7ce 100%);
}
.body-perfil{
  background-image: radial-gradient(circle at 50% 103.03%, #ffffff 0, #fefff7 25%, #edfde8 50%, #dbf1da 75%, #cce7ce 100%);
}
.card {
    z-index: 0;
    padding-bottom: 20px;
    margin-top: 90px;
    margin-bottom: 90px;
    border-radius: 10px;

}
.card-text{
    font-family: 'Nunito Sans', sans-serif;
}

.top {
    padding-top: 40px;
    padding-left: 13% !important;
    padding-right: 13% !important;
}

.icon {
    width: 60px;
    height: 60px;
    margin-right: 15px;
}

.icon-content { 
    padding-bottom: 20px;
}

.buscar-pedido{
    margin-left: 325px;
    margin-top: 250px;
}

#shopGetOrderStatusID{
    margin-top: 10px;
}

.imagen-pedido{
    margin-left: 38%;
    margin-bottom: -15%;
}

#titulo-producto{
    font-family: 'Schibsted Grotesk', sans-serif;
    color: #2D8C1B;
    font-weight: 4000;
}

#body-productos{
    background-image: url(img/fondo.png);
}


.error{
    background-color: #ff7777;
}

#prod1{
    display: grid;
}

#divisor-index{
    display: flex;
    margin-top: 40px;
    margin-left: 680px;
    font-family: 'Nunito Sans', sans-serif;
}

/* CSS TARJETAS DE PRODUCTOS*/
.container-items{
    margin-top: 100px;
    display: flex;
    gap: 20px;
}

.item{
    border-radius: 10px;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure{
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.1);
}

.info-product{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #000;
}

.price{
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through 2px black;
}

.info-product button{
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}
.oferta{
    font-size: 18px;
    font-weight: 900;
    
}
#banner-fertilizante{
  display: flex;
  padding: 40px 40px;
  justify-content: space-between;
  
}
.card button{
  border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}
/* CSS RESPONSIVE INDEX Y DEMAS*/

@media (max-height: 768px ){
    .container-items{
        display: block;
    }
    .imagen-pedido{
        width: 50%;
        margin: 30px;
    }
    .form-group{
        margin: 3px 0px;
        width: 100%;
    }
}

@media (max-height: 810px ){
    .container-items{
        display: block;
    }
}

@media (max-width: 900px ){
    .container-items{
        display: block;
    }
}

  /* AJUSTE CARRUSEL*/
  .c-item{
    height: 650px;
  }

  .c-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
  }

  /*CSS LOGIN */
  .bg-login{
    background-position: center center;
  }

  .body-login{
    background: #ffe259;
    background-image: radial-gradient(circle at 50% 103.03%, #ffffff 0, #fefff7 25%, #edfde8 50%, #dbf1da 75%, #cce7ce 100%);
  }

  .img-fluid{
    height: 100%;
  }

  .select{
    margin-left: 300px;
    height: 40px;
    width: 250px;
  }

  .card-border{
    border: solid 2px black;
    border-radius: 20px;
    overflow: hidden;
  }

  .con-info{
    align-content: space-between;
    padding: 0px 50px;
    
  }

  .stock{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
  }

  .col-sm{
    padding: 0px 0px 0px 100px;
  }
       
.item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15%;
  border: 2px #00000004 solid;
  padding: 10px 20px;
  border-radius: 10px;
}




@media (max-width: 800px) {
  .planta{
      width: 25%;
  }

  header>.abajo{
      justify-content: space-evenly;
  }

  .abajo > h1{
      width: 40vw;
  }

  #menu-pc{
      display: none;
  }

  footer > div{
      font-size: .8rem;
  }
}


#login, #registro{
  display: flex;
  width: 100%;
  align-items: center;    
  flex-direction: column;
  row-gap: 5px;
  margin: 40px 0px;    
  /* z-index: -1; */
}

#login >form{
  width: 40%;
}

#formlogin{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  flex-direction: column;
  height: 50vh;
}


#botoneslogin {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#botoneslogin > button{ 
  background-color: #0C3F37;
  color: #ffffff;
  width: 48%;
  height: 2rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

#botoneslogin > button:hover{ 
  background-color: #CE9864;
}

#login > a, #registro > a{
  color: #0C3F37;
  text-decoration: none;
  cursor: pointer;
}


#registro{
  opacity: 0;
  /* transform: rotate(-180deg); */
}


/* CSS FOOTER*/
.footer {

    background-color: rgba(27, 27, 47, 0.842);
    bottom: 0;
    width: 100%;
}
.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: orange;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px;
}

.footer .col ul li:hover {
  color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}
.clearfix {
  clear: both;
}

.foot {
  border-top: 1px solid #e2e2e2;
}

@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .head {
      height: 30%;
  }
  .page {
      height: 40%;
  }
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
  .head {
      height: 30%;
  }
.rool {
font-size: 60px;
}
    .footer .col {
      width: 50%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
